<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link href="{{{resources}}}/pages/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="{{{resources}}}/pages/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
</head>
<body role="document">
<h1>Feature: {{description}}</h1>
<table class="table">
    <tr>
        <td>test1</td>
        <td>test2</td>
    </tr>
</table>
<script type="text/javascript" src="{{{resources}}}/pages/js/bootstrap.min.js"></script>
</body>
</html>